body{
    background-color: hsl(328, 100%, 95%);
    padding: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslategray; 
}
header h1{
    color:hotpink;
    text-align: center;
    border: 5px dotted palevioletred;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
nav li:hover{
    color:darkviolet;
    
}
nav li{
    display: inline;
    background-color: darkmagenta;
    padding: 12px; 
    color: white; 
}

nav li a{
    color: white; 
}


.title
{
    color: blueviolet;
}



.important{
    color: black;
    
}

#project-nav{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    justify-content: center; 
    text-align: center;
    
}

#project-nav li{
    background-color: palevioletred;
    padding: 1%;
    color: none;
    border: 10px solid hsl(328, 100%, 95%); 
    
}

#project-nav li a{
    color: white; 
}

main {
    padding: 2%; 
    background-color: #FAF9F6;
    text-align: center;
}

li {
    list-style-type: none; 
}

.resume {
    line-height: 200%;
}