body{
    background-color: #FFE5F3;
    padding: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkslategray; 
}
header h1{
    color:hotpink;
    text-align: center;
    border: 5px dotted palevioletred;
    padding-top: 5px;
    padding-bottom: 5px;
    
}
li:hover{
    color:darkviolet;
    
}
nav li{
    display: inline;
    background-color: darkmagenta;
    padding: 12px; 
    color: white; 
}

nav li a{
    color: white; 
}